<template>
  <div id="app">
    <!-- <AppHeader keyPage="home"/> -->
    <div id="nav">
    </div>
    <router-link to="/signup">Sign up</router-link>
    <router-link to="/login">Login</router-link>
    <router-link to="/home">Home</router-link>
    <router-view/>
  </div>
</template>

<script>
// import AppHeader from "./components/appHeader"
import Vue from 'vue'
import Vuelidate from 'vuelidate'
Vue.use(Vuelidate)

export default {
  components: {
    // AppHeader
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
