<template>
    <div id="appHeader">
        <nav v-if="configObj[pageType].display" class="navbar navbar-expand-lg d-flex fixed-top navbar-light bg-light justify-content-between">
            <a class="navbar-brand" href="#">
                <img src="@/assets/logo.png" class="d-inline-block align-top" alt="" width=30>
                Site 
            </a>
            <div>
                <form class="form-inline mx-auto">
                    <input class="form-control ml-sms-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success float-right position-absolute" type="submit">Search</button>
                </form>
            </div>
            <div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse mx-right-0" id="navbarSupportedContent">
                <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
                </ul>
            </div>
            </div>
        </nav>
    </div>
</template>

<script>
export default {
    name: 'appHeader',
    props:["pageType"],
    data: function() {
        return {
            // pageType: 'home',
            configObj: {
                home: {
                    display: false
                },
                searchPage: {
                    dispaly: true,
                    content: []
                },
                login: {
                    display: true
                }
            }
        }
    }
}
</script>