<template>
    <div class="input-wrapper">
        <input :type="type"
            v-bind="value"
            v-on:input="$emit('input', $event.target.value)"
            v-model="value"
        >
        <div class="input-placeholder" :class="{floatPlaceholder: value}">{{placeholder}}</div>
    </div>
</template>


<script>
export default {
    name: "Input",
    props: ["placeholder", "type", "value"],
    value: ""
    // data() {
    //     return JSON.parse('{"value":""}');
    // }

}
</script>

<style>
.input-wrapper {
    position: relative;
    max-width: fit-content;
    height: 45px;
}

.input-wrapper > input {
    width: 252px;
    padding: 15px 10px 2px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgb(250, 250, 250);
    background-color: rgb(219, 219, 219);
    transition: 0.3ms
}

.input-wrapper > input:focus {
    box-shadow: 0 0 0 1px rgb(178, 178, 178) inset;
    outline: none;
}

.floatPlaceholder.input-placeholder {
    bottom: 26px;
    font-size: 13px;
    line-height: 15px;
    pointer-events: none;
}

.input-wrapper > input:focus + .input-placeholder {
    bottom: 26px;
    font-size: 13px;
    line-height: 15px;

}

.input-placeholder {
    position: absolute;
    line-height: 17px;
    font: 14px;
    padding-left: 11px;
    bottom: 14px;
}
</style>