<template>
  <div class="login">
    <AppHeader pageType="login"/>
    <div class="container">
       <div class="right-column text-center">
          <img src="../assets/j.jpeg" class="logo img-fluid" alt="">
          <!-- <h1>This is an Login page</h1> -->
        <form v-on:submit="login">
          <div class="form-group">
            <Input type="text" placeholder="Email" v-model="credentials.username" />
          </div>
          
          <div class="form-group">
            <Input type="password" placeholder="Password" v-model="credentials.password" />  
          </div>
          
          <button type="submit" class="btn btn-block btn-primary">Login</button>
          <button v-on:click="getData">GetData</button>
          
        </form>
        <p class="or">OR</p>
        <button class="btn btn-primary btn-block">Log in with Facebook</button>
        <a class="_2Lks6" href="/accounts/password/reset/">Forgot password?</a>
       </div>
       <div class="right-column-login textcenter">
          <p>Don't have an account??<router-link to="/signup">Sign Up</router-link></p>
        </div>
    
    <div>
      <p>Username: {{credentials.username}}</p>
      <p>Password: {{credentials.password}}</p>
    </div>
    </div>
  </div>
</template>

<script>
import Input from "../components/Input";
import AppHeader from "../components/appHeader"
import axios from "axios"
export default {
  name: "login",
  components: {
    Input,
    AppHeader
  },
  methods: {
    login() {
      window.console.log("hello");
      axios.PUT('api/login', this.credentials)
    },
    getData() {
      axios.get("api/users")
      .then(res => window.console.log(res.data))
      .catch(err => window.console.log(err));
    }
  },
  data() {
    return JSON.parse('{"credentials":{"username":"","password":""}}');
  }
} 
</script>

<style scoped>
.right-column {
  background: #fff;
  border: 1px solid #e6e6e6;
  width: 350px;
  margin: 10px;
  padding: 40px;
}

.logo {
  margin: 15px auto;
}

.or {
  font-size: 13px !important;
  color: #999;
  font-weight: 600;
}

.or::before {
  content: '';
  background: #efefef;
  display: block;
  height: 2px;
  width: 110px;
  position: relative;
  top: 11px;
}

.or::after {
  content: '';
  background: #efefef;
  display: block;
  height: 2px;
  width: 110px;
  position: relative;
  bottom: 11px;
  left: 160px;
}
.btn {
  margin: 12px auto;
  padding: 2px!important;
  font-weight: 600!important
}
.btn-primary {
  background-color: #3897f0!important;
  border: 1px solid #3897f0!important;
}

.right-column-login {
  background: #fff;
  border: 1px solid #e6e6e6;
  width: 350px;
  margin: 10px;
  padding: 20px;
}

.right-column-login:hover {
  text-decoration: none;
}


</style>
