<template>
    <div>
        <AppHeader pageType="home"/>
        <div class="container">
            <div class="col-sm-6 feed-panel">
                <div class="red"></div>
                <div class="red"></div>
                <div class="red"></div>
            </div>
        </div>
    </div>
</template>

<script>
import AppHeader from "../components/appHeader"
export default {
    name: 'Home',
    components: {
        AppHeader
    }
}
</script>


<style scoped>
.feed-panel {
    background: white;
    overflow: scroll;
    height: 100%vh;
}
.red {
    background: red;
    border: 1px solid black;
    height: 420px;
    width: 100vw;
}
</style>