<template>
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-sm-6 d-none d-sm-block">
        <!-- Photo by Tyler Nix on Unsplash -->
        <img class="home-image" src="https://images.unsplash.com/photo-1511895426328-dc8714191300?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9" alt="">
      </div>
      <div class="col-sm-6">
        <div class="right-column text-center">
              <img src="../assets/j.jpeg" class="logo img-fluid" alt="">
              <p class="info">SignUp to get more closer to your family and friend</p>

              <button class="btn btn-primary btn-block">Log in with Facebook</button>
              <p class="or">OR</p>
              <form>
                <div class="form-group">
                  <Input type="text" placeholder="Firstname" v-model="fName"/>
                </div>
                
                <div class="form-group">
                  <Input type="text" placeholder="Middlename" v-model="mName"/>
                </div>
                
                <div class="form-group">
                  <Input type="text" placeholder="Lastname" v-model="lName"/>
                </div>
                
                <div class="form-group">
                  <Input type="email" placeholder="Email" v-model="email"/>
                </div>
                
                <div class="form-group">
                  <Input type="date" placeholder="DOB" v-model="dob"/>
                </div>
                
                <div class="form-group">
                  <Input type="password" placeholder="Password" v-model="pwd"/>
                </div>
                
                <div class="form-group">
                  <Input type="password" placeholder="Confirm Password" v-model="confPwd"/>
                </div>
                
                <button class="btn btn-primary btn-block" type="submit" @click="signUp" :disabled='pwd !== confPwd'>Submit</button>
                <p>Already an user?? <router-link to="/login">Login</router-link></p>
              </form>  
              <p class="terms">By signing up, you agree to our <b>Terms , Data Policy</b> and <b>Cookies Policy</b> .</p> 
              
        </div>
        <div class="right-column-login textcenter">
          <p>Have an account?<router-link to="/login">Log in</router-link></p>
        </div>
      </div>
    </div>
  </div>  
</template>

<script>
import Input from "../components/Input";

export default {
  name: 'signup',
  components: {
    Input
  },
  data() {
    return {
      fName: "",
      mName: "",
      lName: "",
      email: "",
      dob: "",
      pwd: "",
      confPwd: ""
    }
  },
  methods: {
    signUp() {
      window.console.log("hello", this.$data)
      // axios.post();
    }
  }
}
</script>

<style scoped>

* {
  margin: 0;
  padding: 0;
}

.right-column {
  background: #fff;
  border: 1px solid #e6e6e6;
  width: 350px;
  margin: 10px;
  padding: 40px;
}

.logo {
  margin: 15px auto;
}

.info {
  font-weight: 600px;
  line-height: 20px;
  font-size: 17px;
  color: #999;
}

.or {
  font-size: 13px !important;
  color: #999;
  font-weight: 600;
}

.or::before {
  content: '';
  background: #efefef;
  display: block;
  height: 2px;
  width: 110px;
  position: relative;
  top: 11px;
}

.or::after {
  content: '';
  background: #efefef;
  display: block;
  height: 2px;
  width: 110px;
  position: relative;
  bottom: 11px;
  left: 160px;
}

.btn {
  margin: 12px auto;
  padding: 2px!important;
  font-weight: 600!important
}
.btn-primary {
  background-color: #3897f0!important;
  border: 1px solid #3897f0!important;
}

Input {
  width: 45px;
}

.terms {
  line-height: 18px;
  font-size: 14px;
  color: #999;
  margin: 5px 20px;
}

.right-column-login {
  background: #fff;
  border: 1px solid #e6e6e6;
  width: 350px;
  margin: 10px;
  padding: 20px;
}

.right-column-login:hover {
  text-decoration: none;
}

.home-image{
  padding-top: 70px;
  height: 650px;
  float: right;
  margin: 10px;
}

</style>